/*Apply an external styling to a paragraph tag*/
/* Change the font-family and the font size of all elements using the universal selector*/
* {
	font-family: "verdana", sans-serif;
	color: yellow;
}

/*Change the font-size of h1 tags using a type selector*/
h1 {
	font-size: "70";
	color: black;
}

/* Change the text to all uppercase letters for h2 tags using an id selector*/
#learning {
	text-transform: uppercase;
	color: black;
}

/*Change the background colors of the languages to be learn list items using a class selectors.*/
.language_to_learn {
	background-color: seagreen;
	color: black;
}

/*Change the border of the tools to be used list items using a attribute selectors.*/
input[required] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

/*Change the list style type of the other things to be learned list using an adjacent sibling selector.*/
img + ul {
	list-style-type: none;
}
/*Change the dimensions of the image tag using a descendant selector.*/
section img {
	height: 300px;
	width: 300 px;
	border-radius: 150px;
}
	

/*Change the alignment of the last paragraph using a generic sibling selector.*/
section > img ~ p {
	text-align: center;
	color: black;
}
/*Change the letter spacing of the other things to be learned list items using a child selector.*/
section > ul {
	letter-spacing: 5px;
}